/*
** CS 485
** Official American Restaurant Styling Sheet
** v1.0
*/

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 10%;
}

.navbar-brand img{
    max-width: 60px;
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../assets/images/hero.jpg");
    height: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color:#fff;
    padding: 10px;
}

.hero-text button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #F8F9FA;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover{
    background-color: #343A40;
    color: white;
}

.container{
    margin-top: 10%;
}

.form-group{
    padding: 5px;
}
/* Footer */

footer{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    color: white;
    height: 100%;
    max-height: 10%;
}